
  <dn-navega [vaPara]="gotoCampos" 
             [form]="this.form_" 
             [apenasConsulta]="false"
             (funcao)="acao($event)"
             (goto)="goto($event)">
  </dn-navega>

 
  <form [formGroup]="form_" style="margin-top: 20px;">
    <div class="po-md-4"><po-input p-clean="true" p-auto-focus="true" p-label="Volumes" formControlName="qt-volume" ></po-input>
        <div *ngIf="this.form_.controls['qt-volume'].errors" style="color:red">* Volume deve ser preenchido</div>
    </div>
    
    <div class="po-md-12">
       
    </div>

    <div class="po-md-4"><po-input p-clean="true"  p-label="Embalagem" formControlName="cod-embal" name="cod-embal" ></po-input></div>
    <div class="po-md-4"><po-input p-clean="true"  p-label="Qtd Embalagem" formControlName="qt-embal" name="qt-embal"  ></po-input></div>
    <div class="po-row"></div>

    <!-- <div class="po-md-4"><po-input p-clean="true"  p-label="Peso Liq." formControlName="peso-liq"  ></po-input></div>
    <div class="po-md-4"><po-input p-clean="true"  p-label="Peso Bru." formControlName="peso-bru" ></po-input></div>  -->
    
    <div class="po-md-4">
        <div style="display: flex;flex-direction: column;">
            <div><label class="po-font-text-large-bold">Peso Liq</label></div>
            <div><input  thousandSeparator="." mask="separator.3" decimalMarker="," class="po-input" formControlName="peso-liq" p-label="Peso Liq" /></div>
        </div>
    </div>
    <div class="po-md-4">
        <div style="display: flex;flex-direction: column;">
            <div><label class="po-font-text-large-bold">Peso Bruto</label></div>
            <div><input thousandSeparator="." mask="separator.3" decimalMarker="," class="po-input" formControlName="peso-bru" /></div>
        </div>
    </div>

</form>

<!--



<div class="selecao">
    <div style="width: 350px; margin-left: 20px;display: flex;flex-direction: column;">
        <label style="color: gray; font-size: 10;">Estabelecimento</label>
        <po-combo [ngModel]="codEstabel" (ngModelChange)="codEstabel = $event" 
            [p-options]="listaEstabelecimentos"  p-icon="bi bi-pin-map"
            [p-placeholder]="placeHolderEstabelecimento" p-clean="true">
            <ng-template p-combo-option-template let-option>
                <div class="po-row">
                    <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-pin-map"></po-icon>
                    <div class="po-sm-10 po-md-9 po-lg-11">
                        <div class="po-font-text-large-bold">{{ option.label }}</div>
                        <div class="po-font-text-smaller">Filial: {{ option.codFilial }}</div>
                    </div>
                </div>
            </ng-template>
        </po-combo>
    </div>
   
    <div style="width: 80px;display: flex;flex-direction: column;">
        <label style="color: gray; font-size: 10;">Filial</label>
        <po-input p-icon="bi bi-pin-map" p-disabled="true" ></po-input> 
    </div>
    <div style="width: 200px;display: flex;flex-direction: column;">
        <label style="color: gray; font-size: 10;">Nr ENC</label>
        <po-input></po-input> 
    </div>

    <div style="display: flex; margin-top: 24px; gap:5px;width: 230px;">
        <label style="color: gray; font-size: 10;">&nbsp;</label>
        <po-button p-icon="bi bi-check2" (p-click)="onListar()" ></po-button> 
        <po-button p-icon="bi bi-search" (p-click)="onListar()" ></po-button> 
    </div>
   

    <div class="navegacao">
        <po-button p-icon="bi bi-chevron-bar-left" (p-click)="onListar()" ></po-button> 
        <po-button p-icon="bi bi-chevron-right" (p-click)="onListar()" ></po-button> 
        <po-button p-icon="bi bi-chevron-left" (p-click)="onListar()" ></po-button> 
        <po-button p-icon="bi bi-chevron-bar-right" (p-click)="onListar()" ></po-button> 
    </div>
    <div style="display: flex; justify-content: end; flex-grow: 1; margin-right: 40px; gap:10px;margin-top: 24px;">
        <po-button p-icon="bi bi-plus" (p-click)="onListar()" p-label="Incluir" p-kind="primary"></po-button> 
        <po-button p-icon="bi bi-pensil" (p-click)="onListar()" p-label="Modificar"></po-button> 
        <po-button p-icon="bi bi-trash" (p-click)="onListar()" p-label="Eliminar" p-danger="true" ></po-button> 
    </div>
</div>

-->

        

          