<div class="po-wrapper">
  
  <po-menu [p-menus]="menus" [p-automatic-toggle]="false" [p-collapsed]="false" #menuLateral>
    <div *p-menu-header-template style="background: #004b87; border-radius: 5px;">
      <div class="logo">
        <img src="assets/logoDN.png" class="logo" width="250px" height="55px">
      </div>
      
    </div>
  </po-menu>

  

<po-toolbar p-title="TESTE API CORREIOS - PROXY"></po-toolbar>
<po-page-default>
  <router-outlet></router-outlet>
</po-page-default>
</div>

